

.experienceDetails {
  margin: 0.5rem 0;
  /* padding-left: 2rem; */
  margin-bottom: 1.4rem;
}

.workExperienceCard .position {
  font-size: 2rem;
  font-weight: bold;
}

.workExperienceCard .workItems.top-level {
  padding-left: 2rem;
}

.workExperienceCard .workItems {
  padding-left: 1rem;
}

.workExperienceCard .companyName {
  font-size: 2rem;
  /* font-style: italic; */
  font-weight: 700;
}

.workExperienceCard .duration {
  font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
}

.workExperienceCard .jobTitle {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.workExperienceCard .workItems-Heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0;
}

.workExperienceCard .place {
  font-size: 1.6rem;
  text-align: end;
}

.workExperienceCard ul {
  list-style-position: inside;
  /* list-style: none; */
  font-size: 1.4rem;
  font-weight: 500;
}

.workDescriptionItemHeading {
  font-weight: 700;
}

.workDescriptionItemHeading li {
  padding-left: 1rem;
}