#Header h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

#Header h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  font-style: italic;
}

